<!-- <app-angular-overview-font-size-editor></app-angular-overview-font-size-editor>
<app-angular-overview-view-pet></app-angular-overview-view-pet> -->
<!-- <app-angular-overview-calculator></app-angular-overview-calculator> -->
<!-- <app-angular-component-input-name-card cardName = "ProDev" email = "prodev@gmail.com" phone="012345678"></app-angular-component-input-name-card> -->
<!-- <app-angular-component-input-progress-bar width = "20"></app-angular-component-input-progress-bar> -->
<!-- <app-angular-component-input-person name = "Storm" age="300"></app-angular-component-input-person> -->
<!-- <app-angular-component-input-list-person></app-angular-component-input-list-person> -->
<app-angular-component-input-rating-bar [max]="10" (rateChange)="onRateChange($event)"></app-angular-component-input-rating-bar>